.product-title {
    font-size: 30px;
    margin: 15 px 0;
    display: flex;
    justify-content: center;
}
.product-description {
    font-size: 22px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.product-price {
    font-size: 22px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.btn-wrap {
    display: flex;
    justify-content: center;
}
.product {
    border: none;
    display: flex;
    justify-content: center;
}
